{% for completion in result.completions %}
    {# @var completion \Components\Model\Completion #}
    <div class="row">
        <div class="col-xs-6 text-left">
            <strong>{{ completion.catalogue }}</strong>
        </div>
        <div class="col-xs-4 text-right">
            <span class="{{ completion.percentCompleted|colorize("text") }} text-light">({{ completion.translated }} / {{ completion.total }})</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="progress">
                <div class="progress-bar {{ completion.percentCompleted|colorize("progress-bar") }}" role="progressbar" style="width: {{ completion.percentCompleted }}%;" aria-valuenow="{{ completion.percentCompleted }}" aria-valuemin="0" aria-valuemax="100">
                    {{ completion.percentCompleted }}%
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <a class="btn btn-primary btn-block btn-xs" href="{{ url('app_translation_translate_catalogue', {"project" : project, "locale": completion.language, "catalogue" : completion.catalogue}) }}">Translate</a>
        </div>
    </div>
    
    
{% endfor %}